<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Add Exercise Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <meta charset="utf-8" />
    <script type="text/javascript">
      var movrec 
      function getMov(){
        var daterecord = getTime();
        var category = exercise1.category.value;
        var exercise = exercise1.exercise.value;
        var time = exercise1.time.value;
        var repetition = exercise1.repetition.value;
        var set = exercise1.set.value;
        var weight = exercise1.weight.value;
        var distance = exercise1.distance.value;
        movrec = daterecord + " " + exercise + " " +
        time + " " + repetition + " " + set + " " + weight + " " + distance+","
        var htmlrec = "已添加运动记录：" + movrec;
        document.getElementById("record").innerHTML=htmlrec;
        alert(movrec);
        return movrec
      }

      function getTime()
      {
        var today = new Date();
        var year = today.getFullYear();
        var month = today.getMonth()+1; // 因为getMonth返回从0开始的整数
        var day = today.getDate();
        var datestr = year+"-"+month+"-"+day;
        document.getElementById("dateresult").innerHTML=datestr
        return datestr
      }
      setInterval("getTime()", 1000);
      // 以上是用以获取当天时间

      //这个 请选择 选项 加的很好。
      var jiaArr = ["请选择","上肢", "下肢", "核心", "功能性"];
      var exampleArr = [
              ["请选择"],
              ["卧推", "哑铃卧推", "俯身划船"],
              ["硬拉", "深蹲", "剪蹲"],
              ["卷腹", "平板支撑"],
              ["跑步", "波比", "甩绳", "壶铃摇摆"]
      ];
      window.onload = function () {

          var selJia = document.getElementById("jia");
          //申请空间 我：上行用变量seljia获取html元素，这行让seljia空间长度等于jiaArr列表长度
          selJia.length = jiaArr.length;
          //添加元素 我：for循环，构建html select中的option，比如i＝0时，
          // opiton[0]= <option value="请选择">请选择</option>
          // 所以js中的text构建了html的直接显示文本？像<option>文本</option>
          // var.length 声明元素的个数，所以这里i最多到3
          for (var i = 0; i < jiaArr.length; i++) {
              selJia.options[i].text = jiaArr[i];
              selJia.options[i].value = jiaArr[i];
          }

          document.getElementById("theButton").onclick = function() {
              getMov()
              $.post( "/postmov", { movdata: movrec });
	  };

     }

      function ChangeExampleSelect(index)
      {
          var selExa = document.getElementById("example");

          selExa.length = exampleArr[index].length;

          for (var i = 0; i < exampleArr[index].length; i++)
          {
              selExa.options[i].text = exampleArr[index][i];
              selExa.options[i].value = exampleArr[index][i];
          }
      }
    </script>
</head>
<body>
  <form action="/" method="POST" name="exercise1">
    <div id="dateresult"></div>

    <select id="jia" name="category" onchange="ChangeExampleSelect(this.selectedIndex)">

    </select>
    <select id="example" name="exercise">

    </select>
    <input type="text" name="time" placeholder="请输入时间/分">
    <input type="text" name="repetition" placeholder="请输入次数">
    <input type="text" name="set" placeholder="请输入组数">
    <input type="text" name="weight" placeholder="请输入负重/kg">
    <input type="text" name="distance" placeholder="请输入距离/km">
    <input id = "theButton" type="submit" name=“addex” value="添加" ">
  </form>

  <div id="record" ></div>



</body>
</html>

